{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<!-- Title and other stuffs -->
	<title>{% block titulo %} {% endblock %} {% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	{% block extra_head %} {% endblock %}
	{% block css %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap3.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/ddlevelsmenu-base.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/ddlevelsmenu-topbar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/prettyPhoto.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-responsive.css" %}">
	<link rel="shortcut icon" href="img/favicon/favicon.png">
</head>

<body>
	<!-- Sliding panel starts-->
	<div class="slidepanel">
		<div class="container">
			<div class="row">
				<div class="span8">
					<div class="spara"> 
					<!-- Contact details -->
						<p>
							<i class="icon-envelope-alt lightblue"></i> <a href="#">comunidadverd@gmail.com</a> &nbsp; 
							<i class="icon-twitter lightblue"></i> <a href="www.twitter.com/comunidadverd/">@comunidadverd</a> &nbsp; 
							<i class="icon-desktop lightblue"></i> (+51)(01) 5685849
						</p>
					</div>
				</div>
				
				<div class="span4">
					<div class="social">
						<!-- Social media icons. Repalce # with your profile links -->
						<a href="https://www.facebook.com/comunidadverd" class="bblue"><i class="icon-facebook"></i></a>
						<a href="https://plus.google.com/u/0/104168184455401932144/posts" class="borange"><i class="icon-google-plus"></i></a> 
						<a href="https://twitter.com/comunidadverd" class="blightblue"><i class="icon-twitter"></i></a>
						<a href="https://github.com/comunidad/" class="bgray"><i class="icon-github"></i></a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- Sliding panel ends-->

	<!-- Header starts -->
	<header>
		<div class="container">
			<div class="row">
				<div class="span4">
					<!-- Logo starts -->
					<div class="logo">
						<h1>
							<a class="nolink" href="{% url 'inicio' %}">
								Comunidad
								<span class="green">Verde</span>
							</a>
						</h1>
						<div class="logo-meta">Se el cambio que quieres ver</div>
						<div class="clearfix"></div>
					</div>
					<!-- Logo ends -->
				</div>
				<div class="span8">
					<!-- Navbar starts -->
					<div class="navi pull-right">
						<div id="ddtopmenubar" class="mattblackmenu">
							<ul>
								<li><a href="{% url 'inicio' %}" class="blightblue">Home</a></li>
								<li><a href="{% url 'nosotros' %}" rel="ddsubmenu2" class="bviolet">Nosotros</a>
									<ul id="ddsubmenu2" class="ddsubmenustyle">
										<li><a href="{% url 'historia' %}">Historia</a></li>
										<li><a href="{% url 'unete' %}">Unete</a></li>
										<li><a href="{% url 'aliados' %}">Aliados</a></li>
									</ul>
								</li>
								<li><a href="{% url 'zinnia_entry_archive_index' %}" class="bgreen">Actualidad</a></li>
								<li><a href="#" class="blightblue">Noticias</a></li>
								<li><a href="{% url 'proyectos' %}" class="bgreen">Proyectos</a></li>
								<li><a href="{% url 'calendar_list' %}" class="borange">Calendario</a></li>
								<li><a href="{% url 'contactenos' %}" class="bblue">Contactenos</a></li>
							</ul>
						</div>
					</div>
					<div class="navis"></div>
					<!-- Navbar ends -->
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header ends -->
	<div class="frace bgray">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p><em>" Cosas muy buenas estan ocurriendo, aunque usted no lo perciba "</em></p>
				</div>
			</div>
		</div>		
	</div>
	<div class="clearfix"></div>
	<div class="container">{% block breadcrumbs %}{% endblock breadcrumbs %}</div>

	{% block body %} {% endblock %}
	{% block contenedor %}{% endblock %}
	
	<div class="container">
		<div id="content" class="hfeed">
			{% block content %}
		
			{% endblock content %}		
		</div>

		<div id="sidebar">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="copy">
						<p>Copyright &copy; <a href="#">Comunidad.la</a> - <a href="{% url 'inicio' %}">Home</a> | <a href="{% url 'nosotros' %}">Nosotros</a> | <a href="{% url 'contactenos' %}">Contactenos</a></p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</footer>

	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.prettyPhoto.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>
	<script type="text/javascript" src="{% static "js/ddlevelsmenu.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.cslider.js" %}"></script>
	<script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
	<script type="text/javascript" src="{% static "js/filter.js" %}"></script>
	<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
	<script type="text/javascript" src="{% static "js/filter.js" %}"></script>
	<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
	{% block js %}{% endblock %}
</body>
</html>
