{% extends '_partials/base.html' %}

{% block contenedor %}
{% load static from staticfiles %}

<div class="content">
	<div class="container">
		<div class="row">
		<h2>¿Qué hemos hecho?</br>Desde 2012, venimos realizando las siguientes actividades y proyectos:</h2>

		<h3>Lima:</h3>
		<ul>
			<li>Proyecto de Educación Ambiental en I.E.P. Carl David Anderson (2012)</li>
			<li>Participación en la Campaña: “Limpieza Internacional de Costas y Riberas” (15 de septiembre de 2012)</li>
			<li>1er Concurso de Fotografía en redes sociales (6 de julio de 2012)</li>
			<li>Reforestación del perímetro del I.E.P. Carl David Anderson (6 de agosto de 2012)</li>
			<li>Charla en el I.E.P. Santa Ines (26 de marzo de 2012)</li>
			<li>I Feria científica del I.E.P. Carl David Anderson (1 de septiembre de 2012)</li>
			<li>Participación en el día la Hora del Planeta (31 de marzo de  2012)</li>
			<li>Participación en el pasacalle por el Día de la Tierra (22 de abril 2012)</li>
			<li>Participación en las actividades por el Día de la Diversidad Biológica (del 21 al 25 de mayo de 2012)</li> 
			<li>Participación en el pasacalle por el Día Mundial del ambiente (5 de junio de 2012)</li>
			<li>Participación en el DIARE (10 de agosto de 2012)</li>
			<li>Participación en el DIADESOL (1 de octubre de 2012)</li>
			<li>Integración a la RVAJ (2012)</li>
			<li>Reconocimiento por el MINAM (2012)</li>
			<li>Participación en la agenda de los jóvenes por RIO+20 (2012)</li>
			<li>Participación de distintos documentos, lineamientos de jóvenes (2012)</li>
			<li>Participación en calidad de voluntario de ECPA en el II Simposio de Eficiencia Energética (15 de noviembre de 2012)</li>
			<li>Taller de Calentamiento Global en el Parque de las Leyendas (19 de diciembre de 2012)</li>
			<li>Capacitación por parte de RPDC a docentes, en calidad de expositores (29 de enero de 2013</li>
			<li>Participación del Taller Jóvenes por el Cambio Climático (12 de marzo de 2013)</li>
			<li>Educación Ambiental, formación de CAE (desde el 1 de marzo de 2013 hasta la actualidad)</li>
		</ul>

		<h3>Arequipa:</h3>
		<ul>
			<li>1er Jornada de Limpieza de la Reserva Nacional de Salinas y Aguada Blanca (21 de octubre de 2012)</li>
			<li>2da Jornada de Limpieza de la Reserva Nacional de Salinas y Aguada Blanca (23 de marzo de 2013)</li>
			<li>Integración a la RVAJ – Arequipa (2012)</li>
			<li>Reconocimiento del MINAM (2012)</li>
		</ul>

		<h3>Huacho:</h3>
		<ul>
			<li>Charla en Hualmay (27 de noviembre de 2012)</li>
			<li>Charla en I.E.P. Triolet (12 de octubre de 2012)</li>
		</ul>
	</div>
</div>

{% endblock %}