{% extends '_partials/base.html' %}

{% block titulo %} Comunidad Verde {% endblock %}

{% block contenedor %}
{% load static from staticfiles %}
	<!-- Content starts -->
	<div class="content">
		<div class="container">
			<div class="features-two">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Blog y Noticiero</h3></a>
							<p>blog, noticias y comentaros de todas las noticias que tenagan que ver con la sociedad.</p> 
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Proyectos</h3></a>
							<p>Proyectos por realizar, y propuestas de proyectos en los cuales puedan participar.</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Actividades</h3></a>
							<p>Un calendario de actividades de Comunidad.la y de las organizaciones aliadas.</p>
						</div>
					</div>        

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Tecnología Social</h3></a>
							<p>Desarrollo de proyectos tencologicos que apopyen en la solucion o mejora de un problema social.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Blog y Noticiero</h3></a>
							<p>blog, noticias y comentaros de todas las noticias que tenagan que ver con la sociedad.</p> 
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Proyectos</h3></a>
							<p>Proyectos por realizar, y propuestas de proyectos en los cuales puedan participar.</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Actividades</h3></a>
							<p>Un calendario de actividades de Comunidad.la y de las organizaciones aliadas.</p>
						</div>
					</div>        

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Tecnología Social</h3></a>
							<p>Desarrollo de proyectos tencologicos que apopyen en la solucion o mejora de un problema social.</p>
						</div>
					</div>
				</div>
		</div>
	</div>
	<!-- Content ends -->


{% endblock %}
