{% extends '_partials/base.html' %}

{% block titulo %} Comunidad Verde {% endblock %}

{% block contenedor %}
{% load static from staticfiles %}
	<!-- inicio contenedor -->	
	<div class="container contenedor">
		<div class="contenedor-superior"></div>
		<div class="contenedor-central">
			<div class="row margin-bottom-10">
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-rojizo">
						<h2>Blog y Noticiero</h2>
						<p>blog, noticias y comentaros de todas las noticias que tenagan que ver con la sociedad.</p>                        
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-verde-claro">
						<h2>Libreria Digital</h2>
						<p>Archivos multimedia, documentos y todo lo que pueda ser documentos publicos de la sociedad.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-verde-oscuro">            
						<h2>Cursos y Talleres</h2>
						<p>Cursos y talleres y seminarios online en el cual podremos brindar cursos online a la poblacion para educarlos en temas sociales.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-azul">            
						<h2>Colegios y Universidades</h2>
						<p>Convalidación de creditos universitarios y CAES estudiantiles.</p>
					</div>
				</div>
			</div>

			<div class="row margin-bottom-10">
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-morado">
						<h2>Proyectos e Investigación</h2>
						<p>Proyectos por realizar, y propuestas de proyectos en los cuales puedn participar.</p>                        
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-verde">
						<h2>Calendario de Eventos y Actividades</h2>
						<p>Un calendario de actividades de Comunidad.la y de las organizaciones aliadas.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-morado">            
						<h2>Organizaciones aliadas</h2>
						<p>Una lista de organizaciones con las cuales trabajamos y las cuales nos apoyan y apoyamos a asu vez.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="caja-central c-blanco">            
						<h2>Tecnología Social</h2>
						<p>Desarrollo de proyectos tencologicos que apopyen en la solucion o mejora de un problema social.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="contenedor-inferior"></div>
	</div>
	<!-- fin contenedor -->

{% endblock %}
