{% extends '_partials/base.html' %}

{% block contenedor %}
{% load static from staticfiles %}
	<!-- Content starts -->
	<div class="content">
		<div class="container">
			<div class="features-two">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>NOSOTROS:</h3></a>
							<p>Somos una organización no gubernamental sin fines de lucro, conformada por un equipo multidisciplinario de jóvenes de diversas universidades e institutos cuya finalidad es cumplir un rol protagónico en la solución de problemas de desarrollo sostenible en estrecha relación con autoridades e instituciones del Perú y del extranjero.</p> 
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>MISIÓN:</h3></a>
							<p>Coadyuvar a la solución de la problemática ambiental del país, mediante la participación multidisciplinaria de los innovadores de todo el Perú debidamente organizados. Con metas y objetivos claros, creativos, viables y programados.</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>VISIÓN:</h3></a>
							<p>Ser un Movimiento Innovador, de carácter multidisciplinario, que cumpla un rol protagónico en las soluciones de los problemas ambientales, de biodiversidad, sociales y económicas en estrecha relación con autoridades e instituciones del Perú y del extranjero.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Blog y Noticiero</h3></a>
							<p>blog, noticias y comentaros de todas las noticias que tenagan que ver con la sociedad.</p> 
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Proyectos</h3></a>
							<p>Proyectos por realizar, y propuestas de proyectos en los cuales puedan participar.</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Actividades</h3></a>
							<p>Un calendario de actividades de Comunidad.la y de las organizaciones aliadas.</p>
						</div>
					</div>        

					<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>Tecnología Social</h3></a>
							<p>Desarrollo de proyectos tencologicos que apopyen en la solucion o mejora de un problema social.</p>
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-4">
						<div class="f-block blightblue">
							<a href="#"><h3>NUESTRAS RAICES</h3></a>
							<p>Lima, Perú</br>Arequipa, Perú</br>Huacho, Lima - Perú </p>
						</div>
					</div>
{% endblock %}
