{% extends '_partials/base.html' %}

{% block contenedor %}
{% load static from staticfiles %}

<h2>NOSOTROS</h2>
<p>Somos un equipo multidisciplinario que se unió por ser idealistas y emprendedores. Aspiramos a un mundo mejor y queremos dedicar nuestra vida y profesionalidad para ello</p>
<h4>MISIÓN:</h4>
<p>Coadyuvar a la solución de la problemática ambiental del país, mediante la participación multidisciplinaria de los innovadores de todo el Perú debidamente organizados. Con metas y objetivos claros, creativos, viables y programados.</p>


<h4>VISIÓN:</h4>
<p>Ser un Movimiento Innovador, de carácter multidisciplinario, que cumpla un rol protagónico en la solución de los problemas ambientales, sociales y de biodiversidad  en estrecha relación con autoridades e instituciones del Perú y del extranjero.</p>

<h2>NUESTRAS RAICES</h2>
Lima, Perú</br>
﻿Arequipa, Perú</br>
Huacho, Lima - Perú 
{% endblock %}
