{% extends '_partials/base.html' %}

{% block contenedor %}
{% load static from staticfiles %}
<h1>historiaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
PROYECTOS
=========

Nuestros proyectos están dirigidos a la sensibilización para mejorar la calidad de vida de las personas. Aplicamos nuestra experiencia, nuestros conocimientos para asegurar que las personas son conscientes de la realidad del medio ambiente en que vivimos hoy.


ESCUELAS VERDES  
	Es un proceso de educación ambiental hacia una mayor conciencia ambiental y una cultura de Ecoeficiencia  para ayudar a la comunidad educativa a diagnosticar no solo los problemas ambientales sino también las posibilidades u oportunidades que les ofrece la oferta ambiental, los potencialidades del lugar, procurando forjar ciudadanos emprendedores que aplican innovación tecnológica “amigable y sostenible con el ambiente y la vida''.

SEMBRANDO VIDA
	Este proyecto tiene como objetivo visitar las escuelas públicas y privadas, campañas de sensibilización, forestación , talleres de reciclaje   para promover el cuidado del medio ambiente.

COMUNIDADES SALUDABLES
	Ayudar a generar ciudades saludables en los países en desarrollo mediante la promoción de sistemas sostenibles de gestión ambiental, orientado a mejorar la calidad de vida de la población.

<p>¿Qué proyectos (procesos clave) tenemos?

- Comité Ambiental Escolar (CAE).
- Escuelas ecoeficientes.
- Programa de voluntariado en la UPC.

En Desarrollo:

- Ciencias que cuidan la vida - Comunidades Saludables.
- Descubriendo las riquezas naturales de Lima.
- Universitario contra el Calentamiento Global.
- Conociendo la naturaleza (investigación).</p>

  

{% endblock %}