{% extends '_partials/base.html' %}

{% block contenedor %}
{% load static from staticfiles %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h4>VOLUNTARIOS</h4>
					<p>Colaborar con Comunidad Verde  se puede hacer de muchas maneras, la línea de fondo es querer ayudar y ser parte del cambio que es un reto, esperamos que usted quiere involucrarse.</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<h4>Voluntariado Virtual.​</h4>
					<p>Aquí, los alumnos deberán presentar infografías, artículos, críticas, fotografías, notas periodísticas, generar tráfico y otros relacionados que se pueden elaborar desde un medio con Internet, además de tener la característica de que estos puedan realizados sin un horario fijo diario, pero, para ser evaluados, deberán ser presentados a cierta fecha. Este tipo de voluntariado en la función de generar tráfico será continúo.</br>Para finalizar, los presentar trabajos serán evaluados según el contenido de estos, evaluando así la calidad y no, necesariamente, la cantidad de ellos.</p>
				</div>

				<div class="col-md-4 col-sm-4">
					<h4>Voluntariado de Campo</h4>
					<p>Es Aquí, donde los alumnos deberán presentarse físicamente en actividades de concientización como por ejemplo; Limpieza de Playas, Campañas del Minam, Forestaciones, entre otras. Teniendo como mínimo participar de dos actividades. En caso de que no puedan participar de estas, los voluntarios deberán dar un mínimo de dos charlas a colegios de temas relaciones al Calentamiento Global.</br>*Las fechas serán establecidas un mes antes.</p>
				</div>

				<div class="col-md-4 col-sm-4">
					<h4>Voluntariado Administrativo</h4>
					<p>Aquí, los alumnos deberán formular un proyecto o investigación. Se entiende que es complicado este voluntariado y que quizás los proyectos e investigaciones puedan tardar un tiempo mayor al periodo del ciclo, para lo cual se evalúa los avances que ellos realicen.</br>*Las fechas de presentación están para calendarizar.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
